.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0rem auto 0rem auto;
    width: 30%;
    height: 50vh;
    background-image: url('../../asset/whack-a-mole.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-style: double; */
    border: 1px solid black;
    border-color: black;
}
.box{
    width: 28%;
    padding:0 ;
    background-color: green;
    border: 3px solid whitesmoke;
    /* border-style: double; */
    border:5px solid black;
    border-radius: 12px 12px 0px 0px;
}
.box h1,h3{
    margin: 0;
color: wheat;
text-align: center;
}
@media (min-width:614px) and (max-width:1200px) {
    .maindiv{
        width: 60%;
    }
    .box h1{
        font-size: medium;
    }
}
@media (min-width:614px) and (max-width:791px) {
.maindiv{
    height: 50vh;
}
}
@media (min-width:551px) and (max-width: 615px){
    .maindiv{
        width: 50%;
        height: 30vh;
    }  
    .box h1{
        font-size: small;
    }
}
@media (min-width:391px) and (max-width:551px) {
    .maindiv{
        width: 60%;
        height: 30vh;
    }  
    .box h1{
        font-size: small;
    }
}
@media (min-width:321px) and (max-width:392px) {
    .maindiv{
        width: 60%;
        height: 30vh;
    }
    .box h1{
        font-size: small;
    }
}

@media (min-width:212px) and  (max-width:321px) {
    .maindiv{
        width: 60%;
        height: 20vh;
    }
    .box h1{
        font-size: small;
    }
}
@media (max-width:213px){
    .maindiv{
        width: 50%;
        /* font-size: 6px; */
        height: 15vh;
    }
    .box h1,h3{
        font-size: 6px;
    }
}