.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0rem auto 0rem auto;
    width: 30%;
    height: 50vh;
    background-image: url('../../asset/whack-a-mole.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box{
    width: 28%;
    padding:0 ;
    background-color: black;
    border: 3px solid whitesmoke;
    border-style: double;
    border-color: red;
    border-radius: 12px;
}
.box h1,h3{
    margin: 0;
color: wheat;
text-align: center;
}
@media (min-width:614px) and (max-width:1200px) {
    .maindiv{
        width: 60%;
    }
    .box h1{
        font-size: medium;
    }
}
@media (min-width:614px) and (max-width:791px) {
.maindiv{
    height: 40vh;
}
}
@media (min-width:551px) and (max-width: 615px){
    .maindiv{
        width: 50%;
        height: 50vh;
    }  
    .box h1{
        font-size: small;
    }
}
/* @media (max-width:551px) {
    .maindiv{
        width: 50%;
        height: 50vh;
    }  
    .box h1{
        font-size: small;
    }
} */