.maindiv{
    display: flex;
    justify-content: center;
}
.playarea{
    width: 30%; 
    border-left: 10rem solid transparent; 
    border-right: 10rem solid transparent;
    border-bottom: 13.5rem solid yellowgreen;
    height: 0rem;
}
.hole{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 6.5rem;
}
.hole_top{
    margin-top: 5%;
width: 5rem;
height: 5rem;
border-radius: 4rem;
background-color: brown;
box-shadow: inset 0 10px 0 7px rgb(120, 45, 9);
transform: rotate3d(1,0,0,45deg);
overflow: hidden;
}
.hole_bottom{
    
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    background-color: brown;
    box-shadow: inset 0 10px 0 7px rgb(120, 45, 9);
    transform: rotate3d(1,0,0,45deg);
    overflow: hidden;    
 } 

 @media (min-width:790px) and (max-width:1200px) {
    .playarea{
        width: 60%;
        border-left: 10rem solid transparent; 
        border-right: 10rem solid transparent;
        border-bottom: 20rem solid yellowgreen;
         
    }
    .hole{
    width: 100%;
   }
    .hole_top{
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }
    .hole_bottom{
        width: 7rem;
        height: 7rem;
        border-radius: 3.5rem;
    } 
 }
 @media  (min-width:614px) and (max-width:791px) {
 .playarea{
        width: 60%; 
        border-left: 8rem solid transparent; 
        border-right: 8rem solid transparent;
        border-bottom: 13rem solid yellowgreen;
        height: 0rem;
    }
    
 }

@media (min-width:551px) and (max-width: 615px) {
    .playarea{
        width: 50%; 
        border-left: 7rem solid transparent; 
        border-right: 7rem solid transparent;
        border-bottom: 12rem solid yellowgreen;
    }
    .hole{
        height: 5rem;
    }
 }
  @media (min-width:530px) and (max-width:551px) {
    .playarea{
        width: 60%; 
     border-left: 5rem solid transparent; 
        border-right: 5rem solid transparent; 
        border-bottom: 11rem solid yellowgreen;
    }
    .hole{
        height: 5rem;
    }
 } 
 @media (min-width:444px) and (max-width:530px) {
    .playarea{
        width: 60%; 
     border-left: 5rem solid transparent; 
        border-right: 5rem solid transparent; 
        border-bottom: 11rem solid yellowgreen;
    }
        .hole_top{
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
        }
        .hole_bottom{
            width: 5rem;
            height: 5rem;
            border-radius: 2.5rem;
        } 
 }
 @media (min-width:430px) and (max-width:444px) {
    .playarea{
        width: 60%; 
     border-left: 4rem solid transparent; 
        border-right: 4rem solid transparent; 
        border-bottom: 10rem solid yellowgreen;
    }
    .hole{
        height: 4rem;
       } 
       .hole_top{
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }
    .hole_bottom{
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
    } 
 }
 @media (min-width:345px) and (max-width:430px){
    .playarea{
        width: 60%; 
     border-left: 4rem solid transparent; 
        border-right: 4rem solid transparent; 
        border-bottom: 10rem solid yellowgreen;
    }
    .hole{
        height: 4rem;
       } 
       .hole_top{
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
    }
    .hole_bottom{
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
    } 
 }

 @media (min-width:321px) and (max-width:345px){
    .playarea{
        width: 60%; 
     border-left: 4rem solid transparent; 
        border-right: 4rem solid transparent; 
        border-bottom: 10rem solid yellowgreen;
    }
    .hole{
        height: 4rem;
       } 
       .hole_top{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
    }
    .hole_bottom{
        width: 4rem;
        height: 4rem;
        border-radius: 2.rem;
    } 
 }

 @media (min-width:212px) and (max-width:321px){
    .playarea{
        width: 60%; 
     border-left: 3.5rem solid transparent; 
        border-right: 3.5rem solid transparent; 
        border-bottom: 8rem solid yellowgreen;
    }
    .hole{
        height: 3rem;
       } 
       .hole_top{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
    }
    .hole_bottom{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.8rem;
    } 
 }
 
 @media (max-width:213px){
    .playarea{
        width: 50%; 
     border-left: 3rem solid transparent; 
        border-right: 3rem solid transparent; 
        border-bottom: 7rem solid yellowgreen;
    }
    .hole{
        height: 3rem;
       } 
       .hole_top{
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
    .hole_bottom{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.2rem;
    } 
 }