.maindiv{
    display: flex;
    justify-content: center;
    
}
.area{
    width: 23rem; 
    border-left: 150px solid transparent; 
    border-right: 150px solid transparent;
    border-bottom: 200px solid yellowgreen;
    height: 0rem;
}
.hole{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
.hole_top{
width: 4rem;
height: 4rem;
/* margin: 1rem; */
border-radius: 4rem;
background-color: brown;
box-shadow: inset 0 10px 0 7px rgb(120, 45, 9);
/* transform: skew(10deg,5deg); */
transform: rotate3d(1,0,0,45deg);
}
.hole_bottom{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 5rem;
    background-color: brown;
    box-shadow: inset 0 10px 0 7px rgb(120, 45, 9);
    /* transform: skew(10deg,5deg); */
    transform: rotate3d(1,0,0,45deg);
    }